<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="CacheProviders" type="Manager.SharedLib.Caching.CacheProviderConfiguration, Manager.SharedLib" />
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, Manager.SharedLib" />
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="10000" database="8" syncTimeout="10000">
    <hosts>
      <add host="localhost" cachePort="6379" />
    </hosts>
  </redisCacheClient>
  <CacheProviders default="RuntimeCacheProvider">
    <providers>
      <add name="WebCacheProvider" type="Manager.SharedLib.Caching.Providers.WebCacheProvider, Manager.SharedLib" CacheDurationInMinutes="20" />
      <add name="RuntimeCacheProvider" type="Manager.SharedLib.Caching.Providers.RuntimeCacheProvider, Manager.SharedLib" CacheDurationInMinutes="20" />
      <add name="RedisCacheProvider" type="Manager.WebApp.Caching.Providers.RedisCacheProvider, Manager.WebApp" CacheDurationInMinutes="20" />
    </providers>
  </CacheProviders>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- ________________________________System Settings_________________________________________ -->    
    <add key="System:CultureKey" value="CurrentCulture" />
    <add key="System:DefaultPageSize" value="20" />
    <add key="System:VietNamDateTimeFormat" value="dd/MM/yyyy HH:mm:ss tt" />
    <add key="System:ExtenalSeviceTimeOutInSeconds" value="600" />
    <add key="System:SpamTimesValid" value="5" />
    <add key="System:SpamTimeOutInMinutes" value="30" />
    <add key="System:ApiUrlFormat" value="{0}/{1}" />
    <add key="System:UserDefaultPassword" value="Abcd@1234" />
    <add key="System:MyCloudServer" value="http://192.168.2.48:5656" />

    <!--Core API of account-->
    <add key="System:PfoodSingleSignOnApi" value="http://localhost:3333" />
    <add key="AuthorizeCore:HeaderKey" value="AuthorizeHeader" />
    <add key="AuthorizeCore:HeaderValue" value="xee4cnBgTN" />
    <add key="AuthorizeCore:Username" value="pfoodcore" />
    <add key="AuthorizeCore:Password" value="uczq65DxG3" />
    
    <add key="System:HaloSocialApi" value="http://localhost:9090" />
    <add key="AuthorizeSocial:HeaderKey" value="AuthorizeHeader" />
    <add key="AuthorizeSocial:HeaderValue" value="8QaR4mHH2u" />
    <add key="AuthorizeSocial:Username" value="halosocial" />
    <add key="AuthorizeSocial:Password" value="PPggH2ypUB" />
    
    
    <add key="System:FrontendUrl" value="http://localhost:1991" />

    <!--Map settings-->
    <add key="Map:DefaultLatitude" value="21.0337815" />
    <add key="Map:DefaultLongitude" value="105.81405389999998" />
    <add key="Map:DefaultZoomSize" value="15" />

    <add key="System:CommonCacheKeyPrefix" value="MASTER_" />
    <!--Expire time in minutes of the report at dashboard-->
    <add key="System:CacheExpireDataInDashBoard" value="30" />

    <!--Image settings-->
    <add key="CoreCdn:ContainerServer" value="http://192.168.2.48:7070" />
    <add key="CoreCdn:CdnReadContentLink" value="Content/ShowImage?url=" />
    <add key="Img:AvatarFolder" value="Avatars" />
    <add key="Img:AvatarWidth" value="100" />
    <add key="Img:AvatarHeight" value="100" />
    <add key="Img:MaxFileSizeUploadLength" value="2" />

    <!--Social image settings-->
    <add key="SocialCdn:ContainerServer" value="http://192.168.2.48:2424" />
    <add key="SocialCdn:CdnReadContentLink" value="Content/ShowImage?url=" />

    <add key="System:FileManagerServer" value="http://192.168.2.48:2424/filemanager" />
    
    <!-- ________________________________END System Settings_________________________________________ -->
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <!--50MB = 50*1024*1024 (Kbs)-->
    <httpRuntime targetFramework="4.5" maxRequestLength="52428800" executionTimeout="1600" requestLengthDiskThreshold="52428800" />
    <machineKey decryption="AES" decryptionKey="3066485731B42E96E603DB57A2E3DEB61D610738E6AC51DE132EED2D9DBB468F" validation="SHA1" validationKey="ABFEAD9274192E006EC8ECBEE047EC540813AEF94689A1532219E21E26385364B88372C80E9EA9A51B5FCE63BE61F0407574DF5D770F8E6DFC02708E254AFFD0" />
    
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="X-XSS-Protection" value="0" />
      </customHeaders>
    </httpProtocol>    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>